<!DOCTYPE html>
<html>
  <head></head>
    <body>
      <p>Welcome to the Ruby on Rails application Deep Thought!</p>
      <p> "The Answer to the Ultimate Question of Life, the Universe, and Everything",
      as calculated by an enormous supercomputer over a period of 7.5 million years.<p>
      <b> <%= @ultimate_answer %> </b>
    </body>
</html>
